.login {
    height: 100vh;
    background-color: #9B8667;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    .right{
        background-color: #4D3227;
        height: 100%;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 4rem;
            margin: 1rem;
            font-weight: 400;
            color: #EBC999;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        input {
            width: 90%;
            margin: 0.5rem;
            height: 3rem;
            outline: none;
            border: none;
            border-radius: 0.3rem;
            padding: 0.3rem;
            font-size: 1.1rem;
        }
        button {
            cursor: pointer;
            width: 40%;
            height: 3rem;
            background-color: rgba(205 , 119 , 0 , 43.25%);
            color: #EBC999;
            outline: none;
            border: none;
            font-size: 1.5rem;
            border-radius: 0.5rem;
            margin: 1rem;
        }
        p {
            font-size: 1.25rem;
            color: white;
            a {
                color: #EBC999;
            }
        }
    }
}
@media screen and (max-width:1400px){
    .login {
        .right {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
}
@media screen and (max-width:900px){
    .login {
        .right {
            h1 {
                font-size: 2rem;
            }
        }
    }
}

@media  screen and (max-width: 750px) {
    .login{
        .right {
            width: 100%;
        }
    }
    
}