.setting {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    color: black;
    overflow: hidden;
    .left {
        background-color: #EBC999;
        border: 1px solid #EBC999;
        border-radius: 0.15rem;
        height: 80%;
        width: 70%;
        overflow-y: scroll;
        scrollbar-width: none;

        .setting-btn {
            text-align: right;
            padding: 0rem 1rem;
            button {
                cursor: pointer;
            }
        }
        .setting-content {
            padding: 0rem 1rem;
            .setting-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1 {
                    font-weight: 400;
                }
                p {
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            hr {
                height: 0.20rem;
                background-color: black;
                margin: 0.5rem 0rem;
            }
            .setting-list {
                background-color: #4D3227;
                color: #EBC999;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.75rem;
                border-radius: 0.25rem;
                margin: 0.25rem 0rem;
                .tag {
                    background-color: #CD7700;
                    padding: 0.25rem;
                    border-radius: 0.25rem;
                }
            }
        }
    }

    .right {
        background-color: #EBC999;
        height: 80%;
        width: 30%;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.25rem;

        ul {
            li {
                text-align: center;
                margin: 0.25rem;
                padding: 1rem;
                color: #EBC999;
                background-color: #4D3227;
                list-style: none;
                text-decoration: none;
                border-radius: 0.25rem;
            }
        }

        button {
            padding: 1rem;
            cursor: pointer;
            background-color: #CD7700;
            color: #EBC999;
            outline: none;
            border: none;
            border-radius: 0.25rem;
        }
    }
}

.modal-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 3rem;
    }
    .tag-modal-input {
        width: 70%;
        margin: 0.5rem 0rem;
        padding: 0.75rem;
        outline: none;
        border: none;
        font-size: 1.25rem;
        border-radius: 0.25rem;
    }
    .date-modal-input {
        padding: 0.50rem;
        width: 70%;
    }
    span{
        font-size: 1.5rem;
        margin: 0.2rem 0rem;
        text-align: left !important;
    }
    button {
        padding: 0.5rem;
        cursor: pointer;
        background-color: #CD7700;
        color: #EBC999;
        outline: none;
        border: none;
        border-radius: 0.25rem;
        width: 70%;
        margin: 0.2rem 0rem;
    }
    .select-options {
        width: 70%;
        padding: 0.5rem;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0.25rem;
        font-size: 1.2rem;
        margin: 0.25rem 0rem;
    }
}