.setting {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    color: black;
    .left{
        background-color: #EBC999;
        height: 80%;
        width: 70%;
        ul {
            li {
                list-style: none;
                text-decoration: none;
            }
        }
    }

    .right {
        background-color: #EBC999;
        height: 80%;
        width: 30%;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.25rem;
        ul {
            li {
                text-align: center;
                margin: 0.25rem;
                padding: 1rem;
                color: #EBC999;
                background-color: #4D3227;
                list-style: none;
                text-decoration: none;
                border-radius: 0.25rem;
            }
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.25rem 0rem;

            button {
                padding: 0.5rem;
                cursor: pointer;
                background-color: #CD7700;
                color: #EBC999;
                outline: none;
                border: none;
                border-radius: 0.25rem;
            }
            input {
                height: 100%;
                outline: none;
                border: none;
                padding: 0.5rem;
                border-radius: 0.25rem;
                margin: 0rem 0.25rem;
            }
        }
    }
}