.page {
    height: 100vh;
    background-color: #4D3227;
    display: flex;
    color: white;
    overflow-y: hidden;
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}